<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PSO Shortest Path</title>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <link rel="stylesheet" href="static/style.css"> 
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-primary">
        <div class="container-fluid">
          <h1 class="navbar-brand" href="#">Rute</h1>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>
      </nav>
      <div class="content">
        <div class="gambar">
            <img src="{{ url_for('static', filename='images/background.png') }}" alt="Contoh Gambar" width="1420px" height="500px">
        </div>
        <div class="judul">
            <h3>Cari Jarak Tercepat</h3>
        </div>
        <form method="post" action="/">
            <table border="1" class="tabel1">
                <tr>
                    <td width="10%">
                        <div class="label">
                            <label class="asal" for="lokasi_asal"><h5>Kota Asal</h5></label>
                            <div class="dropdown">
                                <div class="input-group mb-3">
                                    <select class="form-select" id="lokasi_asal" aria-label="Example select with button addon" name='lokasi_asal'>
                                        {% for tempat in tempat_asal %}
                                            <option value="{{ tempat }}">{{ tempat }}</option>
                                        {% endfor %}
                                    </select>
                                </div>  
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
            <table border="1" class="tabel2">
                <tr>
                    <td width="10%">
                        <div class="label">
                            <label class="asal" for="lokasi_tujuan"><h5>Kota Tujuan</h5></label>
                            <div class="dropdown">
                                <div class="input-group mb-3">
                                    <select class="form-select" id="lokasi_tujuan" aria-label="Example select with button addon" name='lokasi_tujuan'>
                                        {% for tempat in tempat_tujuan %}
                                            <option value="{{ tempat }}">{{ tempat }}</option>
                                        {% endfor %}
                                    </select>
                                </div>  
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
            <button type="submit" class="btn btn-primary" value="Hitung Jarak">Generate</button>
        </form>

        {% if solusi_terbaik %}
            <table border="1" class="tabel2">
                <tr>
                    <td width="10%">
                        <div class="label2">
                            <h5>Rute Yang Ditempuh</h5>
                            <P>Berikut adalah jalur yang kamu harus tempuh</P>
                            <hr>
                            <p> {% for kota in rute_terbaik %} {{ kota }} -> {% endfor %}</p>
                        </div>
                    </td>   
                </tr>
            </table>
            <table border="1" class="tabel2">
                <tr>
                    <td width="10%">
                        <div class="label2">
                            <h5>Titik Koordinat dari rute yang akan dituju</h5>
                            <P>Berikut Titik Koordinat dari lokasi yang akan kamu tempuh</P>
                            <hr>
                            {% for kota in solusi_terbaik %}
                                {{ kota }}{% if not loop.last %} -> {% endif %}
                            {% endfor %}
                        </div>
                    </td>
                </tr>
            </table>
            <table border="1" class="tabel2">
                <tr>
                    <td width="10%">
                        <div class="label2">
                            <h5>Total Jarak Yang Ditempuh</h5>
                            <P>Berikut adalah total jarak yang kamu harus tempuh</P>
                            <hr>
                            {{ total_jarak}} KM
                        </div>
                    </td>
                </tr>
            </table>
        {% endif %}
    </div>
    <footer class="bg-primary text-white text-center text-lg-start">
        <div class="container p-4">
            <div class="row">
                <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
                    <h5 class="text-uppercase">Bersama Kami Mencari Jarak Terdekat</h5>
                    <p>
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iste atque ea quis
                        molestias. Fugiat pariatur maxime quis culpa corporis vitae repudiandae aliquam
                        voluptatem veniam, est atque cumque eum delectus sint!
                    </p>
                </div>
            </div>
        </div>
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        rute © 2023
        </div>
    </footer>
</body>
</html>
